$grey-base: #000 !default;
$grey-dark: #333;
$grey-darker: #666 !default;
$grey: #999 !default;
$grey-lighter: #ccc !default;
$grey-light: #fafafa !default;

$white: #fff;

$font-default: 'Roboto', sans-serif;

$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;

$map-grid-gutter: 10px;